

{% include "store/base.html" %}

{% load static %}

{% block content %}

    <body>
        <br>

        <div class="container bg-white shadow-md p-5">
            <h3> สมัครสมาชิก TOAT กันก่อนนะ </h3>

            <H5> ลงทะเบียนได้เลย </H5>

            <br>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form}}

                <button type="submit" class="=btn btn-secondary btn-lg w-100 btn-block p-2"> &nbsp</button>



            </form>




        </div>


    </body>


{% endblock %}